<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
  rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css" rel="stylesheet">
<div class="background-container"></div>
<main>
  <div class="container pt-5">
    <div class="text-center mb-3">
      <a [routerLink]="['/']"><img src="logo.jpg" alt="Requeterico" class="img-fluid mb-3"
          style="max-width: 150px;" id="logo"></a>
    </div>
  </div>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>