    body,
    html {
        height: 100%;
        margin: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

.text-brown {
    color: #5C3A2E;
}

.hover-shadow:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.transition {
    transition: all 0.3s ease;
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url('/fondo-1.png');
    background-size: cover;
    background-position: center;
    filter: blur(3px) brightness(0.87);
}


#logo{
    border-radius: 37px;
}



